<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUsuariosService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1945/UsuariosService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsuariosService"
                contract="WCFUsuario.IUsuariosService" name="BasicHttpBinding_IUsuariosService" />
        </client>
    </system.serviceModel>
</configuration>